ColumnLimit: 120
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: Always
NamespaceIndentation: All
AlignArrayOfStructures: None
AlignAfterOpenBracket: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 0
BraceWrapping:
  AfterControlStatement: MultiLine
SpaceAfterCStyleCast: false
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
IndentCaseBlocks: false
IndentCaseLabels: false
RemoveBracesLLVM: true
InsertBraces: true
ForEachMacros: [TINY_MAP_FOREACH]
IncludeBlocks: Regroup
IncludeIsMainRegex: "a{999}" # no main includes
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: "^<SDL"
    Priority: 10
  - Regex: "^<S_"
    Priority: 40
  - Regex: "^<(std|time|int).*\\.h"
    Priority: 5
  - Regex: "[^.][^h]>$"
    Priority: 0
  - Regex: "^<"
    Priority: 50
  - Regex: ".*"
    Priority: 100
